#main {
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;

}

body {
    padding: 20px;
    background-color: white;
}

html {
    background-color: lightblue;
}

.err{
    color: red;
    display: none;
}

.navbar-dark  {
    color: gray;
}

/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: green;
}
.nav-item{
    font-size: 1em;
}

.nav-item:hover {
    background-color: skyblue;
    text-color: black;
}

.container {
    margin: 0px 15%;
}

.paginate_button{
    margin-right: 0.5rem;
}

